<!DOCTYPE html>
<title>Random Musings of a Dude</title>
<script src="https://unpkg.com/vue@2.0.5/dist/vue.js"></script>
<link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Open+Sans:700|Pacifico" rel="stylesheet">
<link rel="apple-touch-icon" sizes="120x120" href="imgs/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" href="imgs/favicon/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="imgs/favicon/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="manifest.json">
<link rel="mask-icon" href="imgs/favicon/safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">
<style>
    @keyframes buildInNegative {
        0% { transform: translateX(-100%); }
        100% { transform: translateX(0); }
    }
    @keyframes buildInPositive {
        0% { transform: translateX(100%); }
        100% { transform: translateX(0); }
    }
    @keyframes buildOutNegative {
        0% { transform: translateX(0); }
        100% { transform: translateX(-100%); }
    }
    @keyframes buildOutPositive {
        0% { transform: translateX(0); }
        100% { transform: translateX(100%); }
    }

    html {
        height: 100%;
        width: 100%;
        background: url('imgs/bg.png') #e07d85;
    }

    body {
        padding: 0;
        margin: 0;
        overflow: hidden;
    }

    #wwhs {
        font-family: "Pacifico", cursive;
        color: #ce6c74;
        font-size: 30pt;
    }

    .quote {
        color: #f4efd5;

        transform: translateY(10em) skewX(-10deg) rotate(-5deg);
        text-align: center;
    }

    .quote .heading {
        font-family: 'Alfa Slab One', serif;
        font-weight: 700;
        font-size: 40pt;
        line-height: 90%;
        color: #b3384d;
        -webkit-text-stroke: 1px white;
        text-shadow:
                -3px -3px 0 #58a982,
                 3px -3px 0 #58a982,
                -3px  3px 0 #58a982,
                 3px  3px 0 #58a982;
        border-bottom: 3px solid #8f3447;
        padding-bottom: 5px;
    }

    .quote .explanation {
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 20pt;
        text-shadow: -3px 3px 0 #8f3447;
    }

    /* Animations */

    .quote .heading,
    .quote .explanation {
        animation-iteration-count: 1;
        animation-duration: 0.5s;
    }

    .quote.buildIn  .heading     { animation-name: buildInNegative; animation-timing-function:  ease-out; }
    .quote.buildIn  .explanation { animation-name: buildInPositive; animation-timing-function:  ease-out; }
    .quote.buildOut .heading     { animation-name: buildOutPositive; animation-timing-function: ease-in; }
    .quote.buildOut .explanation { animation-name: buildOutNegative; animation-timing-function: ease-in; }

</style>

<span id="wwhs">What would Henrik say?</span>
<div id="main">
    <quote :quote="quote"></quote>
</div>

<script>
/**
 * @param {string|object} quote
 * @param {string?} explanation
 * @constructor
 */
function Quote(quote, explanation='Herp derp, do this because awesomeness!') {
    if (typeof quote === 'string') {
        this.quote = quote;
        this.explanation = explanation;
    } else if (typeof quote === 'object') {
        this.quote = quote.quote;
        this.explanation = quote.explanation;
    }
}

const LOADING_QUOTE = new Quote('Loading first quote...', '');

Vue.component('quote', {
    template: '\
        <div class="quote buildIn">\
            <div class="heading">{{ shownQuote.quote }}</div>\
            <div class="explanation">{{ shownQuote.explanation }}</div>\
        </div>',
    watch: {
        quote: function(newQuote) {
            const classList = this.$el.classList;
            classList.remove('buildIn');
            classList.add('buildOut');
            setTimeout(()=>{
                this.shownQuote = newQuote;
                classList.remove('buildOut');
                classList.add('buildIn');
            }, 500);
        }
    },
    data: function() { return {
        shownQuote: LOADING_QUOTE
    }},
    props: {
        quote: { type: Quote }
    }
});

let firstQuoteHasBeenShown = false;
const vm = new Vue({
    el: "#main",
    data: {
        prevQuoteId: -1,
        quote: LOADING_QUOTE,
        quotes: []
    }
});
vm.$on('nextQuote', function() {
    const quotes = vm.$data.quotes;
    let nextIndex = -1;
    do {
         nextIndex = Math.floor(Math.random() * quotes.length);
    } while (nextIndex === vm.$data.prevQuoteId);
    vm.$data.prevQuoteId = nextIndex;
    vm.$data.quote = new Quote(quotes[nextIndex]);
});
</script>

<script src="https://www.gstatic.com/firebasejs/3.6.0/firebase.js"></script>
<script>
let playing = true;
const switchInterval = 60000; // 1min

firebase.initializeApp({
    apiKey: "AIzaSyAHfwh6biMiTd4VHeX-iA_GS8CzTUD0oDk",
    authDomain: "random-musings-7b748.firebaseapp.com",
    databaseURL: "https://random-musings-7b748.firebaseio.com"
});

firebase.database().ref().on('value', function (snapshot) {
    vm.$data.quotes = snapshot.val();
    if (!firstQuoteHasBeenShown) {
        firstQuoteHasBeenShown = true;

        vm.$emit('nextQuote');
        setInterval(()=>{
            if (playing) vm.$emit('nextQuote');
        }, switchInterval);
    }
});
</script>
